<h1>All Parts</h1>

<table>
  <thead>
    <tr>
      <th>Item Part Number</th>
      <th>Part Number</th>
      <th>Description</th>
      <th>Package Level GTIN</th>
      <th>Height</th>
      <th>Width</th>
      <th>Length</th>
      <th>Shipping Height</th>
      <th>Shipping Width</th>
      <th>Shipping Length</th>
      <th>Weight</th>
      <th>Attribute Name</th>
      <th>Product Attribute</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.item_part_number %></td>
        <td><%= part.part_number %></td>
        <td><%= part.description %></td>
        <td><%= part.package_level_gtin %></td>
        <td><%= part.height %></td>
        <td><%= part.width %></td>
        <td><%= part.length %></td>
        <td><%= part.shipping_height %></td>
        <td><%= part.shipping_width %></td>
        <td><%= part.shipping_length %></td>
        <td><%= part.weight %></td>
        <td><%= part.attribute_name %></td>
        <td><%= part.product_attribute %></td>
        <td><%= link_to 'Show', part %></td>
        <td><%= link_to 'Edit', edit_part_path(part) %></td>
        <td><%= link_to 'Destroy', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Part', new_part_path %>