<p id="notice"><%= notice %></p>

<p>
  <strong>Item Part Number:</strong>
  <%= @part.item_part_number %>
</p>

<p>
  <strong>Part Number:</strong>
  <%= @part.part_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @part.description %>
</p>

<p>
  <strong>Package Level GTIN:</strong>
  <%= @part.package_level_gtin %>
</p>

<p>
  <strong>Height:</strong>
  <%= @part.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @part.width %>
</p>

<p>
  <strong>Length:</strong>
  <%= @part.length %>
</p>

<p>
  <strong>Shipping Height:</strong>
  <%= @part.shipping_height %>
</p>

<p>
  <strong>Shipping Width:</strong>
  <%= @part.shipping_width %>
</p>

<p>
  <strong>Shipping Length:</strong>
  <%= @part.shipping_length %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @part.weight %>
</p>

<p>
  <strong>Attribute Name:</strong>
  <%= @part.attribute_name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @part.price %>
</p>

<p>
  <strong>Product Attribute:</strong>
  <%= @part.product_attribute %>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %> |
<%= button_to 'Add to Cart', add_to_cart_part_path(@part), method: :post, remote: true, class: 'add-to-cart', data: { product_id: @part.id } %>


<script>
  $(document).ready(function() {
    $('.add-to-cart').click(function() {
      var productId = $(this).data('product-id');
      addPartToCart(productId);
    });
  });

  function addPartToCart(partId) {
    var csrfToken = $('meta[name="csrf-token"]').attr('content');
    $.ajax({
      url: '/parts/' + partId + '/add_to_cart',
      type: 'POST',
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-Token', csrfToken);
      },
      dataType: 'script',
      success: function(data) {
        console.log('Part added to cart:', <%= @part.id %>);
      },
      error: function(xhr, status, error) {
        displayErrorMessage("Error adding part to cart: " + error);
        console.log('Error adding part to cart:', error);
      }
    });
  }

</script>