      <!-- hero section -->
      <section
  aria-labelledby="hero section"
  class="hero-section d-flex flex-column align-items-center justify-content-center"
>
  <div class="container d-flex flex-column gap-4">
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-column align-items-center justify-content-center">
          <span class="fs-xs-12 lh-xs-18 fs-tablet-9 lh-tablet-14 fs-pc-16 lh-pc-24 fw-500 text-clr-gold m-0 p-0">
            Shop Thousands of Motor Mounts and Kits
          </span>
          <h1 class="fs-xs-32 lh-xs-48 fs-tablet-23 lh-tablet-34 fs-pc-40 lh-pc-60 fw-800 text-clr-white m-0 p-0">
            The Trusted Choice
          </h1>
          <h2 class="fs-xs-24 lh-xs-36 fs-tablet-18 lh-pc-28 fs-pc-32 lh-pc-48 fw-800 text-clr-white m-0 p-0">
            Engine & Transmission Mounts
          </h2>
        </div>
      </div>
    </div>
    <div class="row gx-3 align-items-center justify-content-center">
      <div class="col d-flex justify-content-center">
        <div class="hero-img-thumbnail d-flex align-items-center justify-content-center bgclr-white rounded-circle">
          <a href="/#" class="p-0 flex-shrink-0">
            <%= image_tag 'hero-Image-thumb-01.jpg', width: 100, height: 104, class: 'img-fluid rounded-circle flex-shrink-0', alt: 'hero thumbnail' %>
          </a>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="hero-img-thumbnail d-flex align-items-center justify-content-center bgclr-white rounded-circle">
          <a href="/#" class="p-0 flex-shrink-0">
            <%= image_tag 'hero-Image-thumb-01.jpg', width: 100, height: 104, class: 'img-fluid rounded-circle flex-shrink-0', alt: 'hero thumbnail' %>
          </a>
        </div>
      </div>
      <div class="col d-flex justify-content-center">
        <div class="hero-img-thumbnail d-flex align-items-center justify-content-center bgclr-white rounded-circle">
          <a href="/#" class="p-0 flex-shrink-0">
            <%= image_tag 'hero-Image-thumb-01.jpg', width: 100, height: 104, class: 'img-fluid rounded-circle flex-shrink-0', alt: 'hero thumbnail' %>
          </a>
        </div>
      </div>
      <div class="col d-none d-md-flex justify-content-center">
        <div class="hero-img-thumbnail d-flex align-items-center justify-content-center bgclr-white rounded-circle">
          <a href="/#" class="p-0 flex-shrink-0">
            <%= image_tag 'hero-Image-thumb-01.jpg', width: 100, height: 104, class: 'img-fluid rounded-circle flex-shrink-0', alt: 'hero thumbnail' %>
          </a>
        </div>
      </div>
      <div class="col d-none d-md-flex justify-content-center">
        <div class="hero-img-thumbnail d-flex align-items-center justify-content-center bgclr-white rounded-circle">
          <a href="/#" class="p-0 flex-shrink-0">
            <%= image_tag 'hero-Image-thumb-01.jpg', width: 100, height: 104, class: 'img-fluid rounded-circle flex-shrink-0', alt: 'hero thumbnail' %>
          </a>
        </div>
      </div>
      <div class="col d-none d-md-flex justify-content-center">
        <div class="hero-img-thumbnail d-flex align-items-center justify-content-center bgclr-white rounded-circle">
          <a href="/#" class="p-0 flex-shrink-0">
            <%= image_tag 'hero-Image-thumb-01.jpg', width: 100, height: 104, class: 'img-fluid rounded-circle flex-shrink-0', alt: 'hero thumbnail' %>
          </a>
        </div>
      </div>
      <div class="col d-none d-md-flex justify-content-center">
        <div class="hero-img-thumbnail d-flex align-items-center justify-content-center bgclr-white rounded-circle">
          <a href="/#" class="p-0 flex-shrink-0">
            <%= image_tag 'hero-Image-thumb-01.jpg', width: 100, height: 104, class: 'img-fluid rounded-circle flex-shrink-0', alt: 'hero thumbnail' %>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

     <!-- search-bar section -->
<section
  class="search-bar-section bg-transparent"
  aria-labelledby="search-bar"
>
  <div class="container">
    <div class="row">
      <div class="col-12 offset-md-2 col-md-8">
        <div class="bgclr-teal search-bar text-white">
          <%= form_with(url: parts_path, method: :get, local: true, class: 'd-flex flex-column align-items-start justify-content-start gap-3') do %>
            <%= text_field_tag :search, nil, class: 'form-control rounded-pill fs-xs-12 fs-xs-18 fs-tablet-9 lh-tablet-14 fs-pc-16 lh-pc-24 fw-500 text-clr-black', placeholder: 'Search for your product...' %>
            <div class="search-tags d-flex align-items-center justify-content-start gap-3">
              <%= button_tag 'vehicle', type: 'submit', name: 'search_type', value: 'vehicle', class: 'btn text-capitalize text-white fw-500 fs-xs-14 lh-xs-21 fs-tablet-9 lh-tablet-14 fs-pc-16 lh-pc-24 rounded-pill' %>
              <%= button_tag 'Part Number', type: 'submit', name: 'search_type', value: 'part_number', class: 'btn text-capitalize text-white fw-500 fs-xs-14 lh-xs-21 fs-tablet-9 lh-tablet-14 fs-pc-16 lh-pc-24 rounded-pill' %>
              <%= button_tag 'Part Type', type: 'submit', name: 'search_type', value: 'part_type', class: 'btn text-capitalize text-white fw-500 fs-xs-14 lh-xs-21 fs-tablet-9 lh-tablet-14 fs-pc-16 lh-pc-24 rounded-pill' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- hot deal slider   -->
<section class="hot-deal-section bgclr-white text-clr-black pt-60 pb-60">
  <div class="container d-flex flex-column gap-3 gap-lg-4">
    <div class="row pb-4">
      <div class="col-12">
        <div class="title d-flex align-items-center gap-2 justify-content-start">
          <span>
            <%= image_tag 'hot-deal-icon.svg', width: 18, height: 24, class: 'img-fluid position-relative', alt: 'hot deal icon' %>
          </span>
          <h2 class="text-clr-black fw-500 fs-pc-24 lh-pc-36 fs-tablet-14 lh-tablet-21 fs-xs-16 lh-xs-24 m-0">
            Hot Deals
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="swiper mySwiperHotDeal">
          <div class="swiper-wrapper">

            <% slides = 8.times.map do %> <!-- Adjust the number of slides as needed -->
            <div class="swiper-slide">
              <div class="slider-content position-relative rounded-4">
                <div class="slider-img rounded-4">
                  <%= image_tag 'hot-deal-slider-img-1.jpg', width: 345, height: 294, class: 'img-fluid rounded-4', alt: 'hot deal slider 1' %>
                </div>
                <div class="slider-text rounded-4 p-3 d-flex flex-column justify-content-between w-100 h-100 position-absolute start-0 top-0">
                  <h3 class="text-clr-white fw-600 fs-xs-20 lh-xs-30 fs-pc-26 lh-pc-39 fs-tablet-15 lh-tablet-20 m-0 p-0">
                    Buy a Motor Mount Kit GET 10% OFF
                  </h3>
                  <div>
                    <%= link_to 'Shop Now', '#', class: 'btn bgclr-gold text-capitalize text-black fw-500 fs-xs-14 lh-xs-21 fs-tablet-9 lh-tablet-14 fs-pc-16 lh-pc-24 rounded-pill px-3' %>
                  </div>
                </div>
              </div>
            </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- section  -->
      <section class="section-wrapper bgclr-white" aria-labelledby="Silence the Vibration">
  <div class="container">
    <div class="row justify-content-center">
      <div class="text-start text-sm-center col-12 col-sm-10 col-md-8 col-lg-6">
        <h2 class="text-clr-black fw-600 fs-pc-24 lh-pc-36 fs-tablet-14 lh-tablet-21 fs-xs-16 lh-xs-24 m-0">
          Silence the Vibration
        </h2>
        <h3 class="text-clr-teal fw-600 fs-pc-16 lh-pc-24 fs-tablet-14 lh-tablet-21 fs-xs-14 lh-xs-21 m-0">
          By using premium rubber, our mount absorb the vibration, noise and any hardness caused by bad engine mounts
        </h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 col-lg-8">
        <div class="section-image d-flex align-items-center justify-content-center">
          <%= image_tag 'silence-the-vibration-1.png', width: 251, height: 157, class: 'img-fluid flex-shrink-1 d-none d-md-flex', alt: 'silence the vibration' %>
          <%= image_tag 'silence-the-vibration-1.png', width: 251, height: 157, class: 'img-fluid flex-shrink-1', alt: 'silence the vibration' %>
          <%= image_tag 'silence-the-vibration-2.png', width: 200, height: 205, class: 'img-fluid flex-shrink-1', alt: 'silence the vibration' %>
          <%= image_tag 'silence-the-vibration-2.png', width: 200, height: 205, class: 'img-fluid flex-shrink-1', alt: 'silence the vibration' %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section (search by part type) -->
<section class="search-by-part-type pt-60 pb-60 bgclr-white">
  <div class="container d-flex flex-column gap-4">
    <div class="row">
      <div class="col-12">
        <div class="text-start">
          <h2 class="text-clr-black fw-600 fs-pc-24 lh-pc-36 fs-tablet-14 lh-tablet-21 fs-xs-16 lh-xs-24 m-0">
            Search by part type
          </h2>
          <h3 class="text-clr-teal fw-600 fs-pc-16 lh-pc-24 fs-tablet-14 lh-tablet-21 fs-xs-14 lh-xs-21 m-0">
            Over 4000 motor mounts, crazy inventory
          </h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="swiper mySwiperSearchByPartType">
          <div class="swiper-wrapper">
            <% 5.times do %> <!-- Adjust the number of slides as needed -->
            <div class="swiper-slide">
              <div class="slider-content d-flex flex-column gap-2">
                <div class="slider-img d-flex align-items-center justify-content-center">
                  <%= image_tag 'search-by-part-type-1.jpg', width: 187, height: 192, class: 'img-fluid align-self-center mx-auto my-auto', alt: 'slider product thumb' %>
                </div>
                <div class="slider-text bgclr-transparent">
                  <h3 class="text-clr-black fw-600 fs-xs-14 lh-xs-21 fs-pc-20 lh-pc-30 fs-tablet-12 lh-tablet-17 p-0 m-0">
                    Engine motor mount
                  </h3>
                  <p class="text-clr-black fw-400 fs-xs-10 lh-xs-15 fs-pc-16 lh-pc-24 fs-tablet-10 lh-tablet-14 p-0 m-0">
                    Manufactured to absorb Vibration
                  </p>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

      <!-- section (popular makes) -->
      <section class="section-wrapper bgclr-white">
  <div class="container d-flex flex-column gap-3">
    <div class="row mb-2">
      <div class="col-12 d-flex justify-content-between align-items-center">
        <h2 class="fw-600 text-clr-black fs-xs-16 lh-xs-24 fs-pc-24 lh-pc-36 fs-tablet-14 lh-tablet-21 m-0">
          Popular Makes
        </h2>
        <%= link_to 'View All', '#', class: 'text-reset text-clr-black-70 fw-400 fs-xs-10 lh-xs-15 fs-tablet-9 lh-tablet-14 fs-pc-16 lh-pc-24 m-0 p-0' %>
      </div>
    </div>
    <div class="row justify-content-between gy-3">
      <% popular_makes = ['FORD', 'Chevrolet', 'FORD', 'Chevrolet', 'FORD', 'FORD'] %>
      <% popular_makes.each do |make| %>
        <div class="col-6 col-md-2">
          <button class="popular-item-btn text-uppercase bg-transparent fw-400 fs-xs-10 lh-xs-15 fs-pc-24 lh-pc-36 fs-tablet-9 lh-tablet-14 m-0" style="color: #000000">
            <%= make %>
          </button>
        </div>
      <% end %>
    </div>
    <div class="row justify-content-between gy-3 d-none d-md-flex">
      <% popular_makes.each do |make| %>
        <div class="col-6 col-md-2">
          <button class="popular-item-btn text-uppercase bg-transparent fw-400 fs-xs-10 lh-xs-15 fs-pc-24 lh-pc-36 fs-tablet-9 lh-tablet-14 m-0" style="color: #000000">
            <%= make %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</section>

<!-- Timeline Section -->
<section class="timeline-section bgclr-white pt-60 pb-60">
  <div class="container d-flex flex-column gap-lg-5">
    <div class="row">
      <div class="col-12">
        <div class="d-flex flex-column gap-1 align-items-center">
          <h2 class="text-clr-black fw-600 fs-pc-24 lh-pc-36 fs-tablet-14 lh-tablet-21 fs-xs-16 lh-xs-24 m-0">
            How we make our mounts?
          </h2>
          <h3 class="text-clr-teal fw-600 fs-pc-16 lh-pc-24 fs-tablet-14 lh-tablet-21 fs-xs-14 lh-xs-21 m-0">
            We’ve been doing this for a long time.
          </h3>
          <p class="text-clr-black-50 text-decoration-underline fw-400 fs-pc-16 lh-pc-24 fs-tablet-14 lh-tablet-21 fs-xs-14 lh-xs-21 m-0">
            Learn more about Westar
          </p>
        </div>
      </div>
    </div>
    <div class="row d-flex flex-column align-items-center justify-content-center">
      <div class="col-12 col-md-10 col-lg-7">
        <ul class="timeline p-0 m-0 d-flex flex-column">
          <% 3.times do %> <!-- Adjust the number of timeline items as necessary -->
          <li class="timeline-card">
            <span class="flex-shrink-0">
              <%= image_tag 'timeline-icon.svg', width: 50, height: 50, class: 'img-fluid p-lg-1', alt: 'timeline icon' %>
            </span>
            <div class="subcard">
              <h3 class="timeline-title text-clr-teal fw-500 fs-xs-14 lh-xs-21 fs-pc-24 lh-pc-36 p-0 m-0">
                OEM Reverse Engineering
              </h3>
              <p class="text-clr-black fw-400 fs-xs-14 lh-xs-21 fs-pc-16 lh-pc-24 p-0 m-0">
                We start by reverse engineering OEM mounts, ensuring perfect fit and function.
              </p>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
      <!-- Apply Section -->
<section class="apply-section">
  <div class="container">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="bgclr-gold d-flex flex-column align-items-center gap-1 text-center rounded-4 p-3">
        <h2 class="fw-600 text-clr-black fs-xs-14 fs-tablet-12 fs-pc-24 m-0">
          Unlock our business pricing,
        </h2>
        <h2 class="fw-600 text-clr-black fs-xs-14 fs-tablet-12 fs-pc-24 m-0">
          and get exclusive perks
        </h2>
        <%= image_tag 'hand-shek-icons.svg', width: 91, height: 55, class: 'img-fluid pt-16 pb-16', alt: '' %>
        <%= link_to 'apply now', '#', class: 'apply-btn bgclr-black rounded-pill text-capitalize text-decoration-none fw-500 text-clr-white fs-xs-14 fs-pc-24 fs-tablet-12 m-0 pt-8 pb-8' %>
      </div>
    </div>
  </div>
</section>

<!-- What to Expect Section -->
<section class="what-to-expect bgclr-white pt-60 pb-60">
  <div class="container d-flex flex-column gap-3 gap-lg-4">
    <div class="row">
      <div class="col-12">
        <div class="col text-center">
          <h2 class="fw-600 text-clr-black fs-xs-16 lh-xs-24 fs-pc-24 lh-pc-36 fs-tablet-14 lh-tablet-21 m-0">
            What to expect?
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <div class="swiper whatToExpectSlider">
          <div class="swiper-wrapper">
            <% 5.times do %> <!-- Adjust the number of slides as necessary -->
            <div class="swiper-slide">
              <div class="slider-content d-flex flex-column gap-2 gap-lg-3 justify-content-center bgclr-gainsboro rounded-4 p-3">
                <div class="slider-icon">
                  <%= image_tag 'van-icons.svg', width: 79, height: 79, class: 'img-fluid', alt: 'van icon' %>
                </div>
                <div class="slider-text bgclr-transparent">
                  <h3 class="text-clr-black fw-600 fs-xs-16 lh-xs-24 fs-pc-20 lh-pc-30 fs-tablet-12 lh-tablet-17 m-0 p-0">
                    Free Shipping
                  </h3>
                  <p class="text-clr-black fw-300 fs-xs-12 lh-xs-18 fs-pc-16 lh-pc-24 fs-tablet-10 lh-tablet-14 m-0 p-0">
                    Same business day shipping, on all orders received before 2:30 PM EST
                  </p>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
      <!-- customers service section -->
      <!-- Service Section -->
<section class="service-section bgclr-white pb-60" aria-labelledby="customers service section">
  <div class="container d-flex flex-column gap-2 gap-md-4">
    <div class="row">
      <div class="col text-center">
        <h2 class="fw-600 text-clr-black fs-xs-16 lh-xs-24 fs-pc-24 lh-pc-36 fs-tablet-14 lh-tablet-21 m-0">
          Served millions of customers
        </h2>
        <h3 class="fw-400 text-clr-black fs-xs-14 lh-xs-24 fs-pc-16 lh-pc-24 fs-tablet-14 lh-tablet-21 m-0">
          Shop with confidence
        </h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 d-flex align-items-center justify-content-center gap-3 gap-md-5">
        <div class="text-start text-sm-center">
          <h2 class="fw-600 text-clr-teal fs-pc-26 lh-pc-36 fs-tablet-16 lh-tablet-21 fs-xs-16 lh-xs-24 m-0 p-0">
            99%
          </h2>
          <h3 class="fw-500 text-clr-black fs-pc-20 lh-pc-30 fs-tablet-16 lh-tablet-21 fs-xs-16 lh-xs-24 m-0 p-0">
            Fill rate
          </h3>
        </div>
        <div class="text-start text-sm-center">
          <h2 class="fw-600 text-clr-teal fs-pc-26 lh-pc-36 fs-tablet-16 lh-tablet-21 fs-xs-16 lh-xs-24 m-0 p-0">
            4000
          </h2>
          <h3 class="fw-500 text-clr-black fs-pc-20 lh-pc-30 fs-tablet-16 lh-tablet-21 fs-xs-16 lh-xs-24 m-0 p-0">
            Motor Mounts
          </h3>
        </div>
        <div class="text-start text-sm-center">
          <h2 class="fw-600 text-clr-teal fs-pc-26 lh-pc-36 fs-tablet-16 lh-tablet-21 fs-xs-16 lh-xs-24 m-0 p-0">
            2%
          </h2>
          <h3 class="fw-500 text-clr-black fs-pc-20 lh-pc-30 fs-tablet-16 lh-tablet-21 fs-xs-16 lh-xs-24 m-0 p-0">
            Average Returns
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Why Buy Section -->
<section class="bgclr-gold pt-48 pb-48">
  <div class="container">
    <div class="row pb-37">
      <div class="col-12 text-md-center">
        <h2 class="text-clr-black text-capitalize fw-600 fs-xs-20 lh-xs-30 fs-pc-24 lh-pc-36 fs-tablet-14 lh-tablet-21 p-0 m-0">
          Why buy
        </h2>
        <%= link_to image_tag('westar-logo-blue.svg', alt: 'Westar company logo'), '#' %>
      </div>
    </div>
    <div class="row gy-4">
      <% 3.times do %>
      <div class="col-md-4">
        <div class="section-wizard">
          <%= image_tag('best-price-1.svg', width: 48, height: 48, class: 'img-fluid pb-12', alt: 'Best price icon') %>
          <h3 class="text-clr-black fw-500 fs-xs-20 lh-xs-30 fs-pc-20 lh-pc-30 fs-tablet-12 lh-tablet-17">
            Problem Solving mounts with price, a crazy combination
          </h3>
          <p class="text-clr-black fw-400 fs-xs-14 lh-xs-21 fs-pc-16 lh-pc-24 fs-tablet-10 lh-tablet-14 m-0 p-0">
            A lot of engine mount manufacturers are buying from the same factories, same parts and packaging it with their own brand. They are not going the extra mile to see how they can actually give you a mount that solves your problem.
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>

<!-- Customer Reviews Section -->
<section class="bgclr-white pt-60 pb-60">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="d-flex flex-column pb-8 flex-md-row align-items-md-center gap-md-4 text-clr-black fw-500 fs-xs-20 lh-xs-30 fs-pc-24 lh-pc-36 fs-tablet-14 lh-tablet-21 m-0 p-0">
          <span>Customers love us, see why.</span>
          <span class="d-flex gap-1 align-items-center justify-content-start">
            <% 5.times do %>
            <%= image_tag('star-icons.svg', width: 31, height: 31, class: 'img-fluid', alt: 'Star icon') %>
            <% end %>
            <span class="fw-500 ms-3 text-clr-black fs-xs-20 lh-xs-30 fs-pc-20 lh-pc-30 fs-tablet-12 lh-tablet-17 m-0 p-0">4.8</span>
          </span>
        </h3>
        <p class="text-clr-black fw-400 fs-xs-12 lh-xs-18 fs-pc-16 lh-pc-24 fs-tablet-10 lh-tablet-14 m-0 p-0">
          Over one million shoppers and counting
        </p>
      </div>
    </div>
    <div class="row pt-19 gy-3">
      <% 3.times do %>
      <div class="col-md-4">
        <div class="section-wizard bgclr-whitesmoke rounded-3 p-3">
          <h3 class="text-clr-black fw-500 fs-xs-20 lh-xs-30 fs-pc-20 lh-pc-30 fs-tablet-12 lh-tablet-17">
            “They went the extra mile”
          </h3>
          <p class="text-clr-black fw-400 fs-xs-14 lh-xs-21 fs-pc-16 lh-pc-24 fs-tablet-10 lh-tablet-14 m-0 p-0">
            I needed a mount and these guys were the first ones to step up and help me and give me all the info I needed.
          </p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
     <!-- Newsletter Subscription Section -->
<section class="subscription-section bgclr-black pt-20 pb-20">
  <div class="container">
    <div class="row">
      <div class="col-12 text-md-center pb-8">
        <h2 class="text-clr-white fw-500 fs-xs-16 lh-xs-24 fs-tablet-10 lh-tablet-14 fs-pc-16 lh-pc-24 m-0 p-0">
          Be First To Know
        </h2>
        <h3 class="text-clr-gold fw-600 fs-xs-20 lh-xs-30 fs-tablet-12 lh-tablet-17 fs-pc-16 lh-pc-24 m-0 p-0">
          Stay Tuned for Under-the-Hood Deals
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="subscription-form">
          <%= form_with url: '#', method: :post, local: true do |form| %>
            <div class="d-flex gap-2 align-items-center justify-content-md-center">
              <div class="position-relative">
                <%= image_tag 'email-icons.svg', width: 20, height: 16, class: 'img-fluid position-absolute top-0 start-0 mt-12 ms-3', alt: 'Email icon' %>
                <%= form.email_field :email, class: 'form-control w-100 pt-8 pb-8 ps-5 text-clr-black rounded', placeholder: 'Your email', aria: { label: 'Your email', describedby: 'subscribe button' } %>
              </div>
              <%= form.submit 'Subscribe', class: 'btn bgclr-teal text-white fw-500 fs-xs-14 lh-xs-21 fs-tablet-9 lh-tablet-14 fs-pc-16 lh-pc-24 rounded btn-submit ps-lg-4 pe-lg-4 align-self-stretch', id: 'subscribe button' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
      // to use (init) this slider you have to use this camel case class name in html
      // slider first
      const swiper = new Swiper(".mySwiperHotDeal", {
        // Optional parameters
        spaceBetween: 30,
        freeMode: true,
        loop: true,
        slidesPerView: 4,
        autoplay: {
          delay: 3500,
          disableOnInteraction: true,
        },
        breakpoints: {
          // Responsive breakpoints
          320: {
            slidesPerView: 2,
            centeredSlides: true,
          },
          768: {
            slidesPerView: 2,
          },
          1024: {
            slidesPerView: 4,
          },
        },

        // If we need pagination
        // pagination: {
        //   el: ".swiper-pagination",
        // },

        // Navigation arrows
        // navigation: {
        //   nextEl: ".swiper-button-next",
        //   prevEl: ".swiper-button-prev",
        // },
      });

      // slider second
      const swiper2 = new Swiper(".mySwiperSearchByPartType", {
        // Optional parameters
        spaceBetween: 30,
        freeMode: true,
        loop: true,
        slidesPerView: 4,
        autoplay: {
          delay: 3500,
          disableOnInteraction: true,
        },
        breakpoints: {
          // Responsive breakpoints
          320: {
            slidesPerView: 2,
            centeredSlides: true,
          },
          768: {
            slidesPerView: 2,
          },
          1024: {
            slidesPerView: 4,
          },
        },

        // If we need pagination
        // pagination: {
        //   el: ".swiper-pagination",
        // },

        // Navigation arrows
        // navigation: {
        //   nextEl: ".swiper-button-next",
        //   prevEl: ".swiper-button-prev",
        // },
      });

      // slider third
      const swiper3 = new Swiper(".whatToExpectSlider", {
        // Optional parameters
        spaceBetween: 30,
        freeMode: true,
        loop: true,
        slidesPerView: 3,
        centeredSlides: false,
        autoplay: {
          delay: 3500,
          disableOnInteraction: true,
        },
        breakpoints: {
          // Responsive breakpoints
          320: {
            slidesPerView: 2,
            centeredSlides: true,
          },
          768: {
            slidesPerView: 2,
          },
          1024: {
            slidesPerView: 3,
          },
        },

        // If we need pagination
        // pagination: {
        //   el: ".swiper-pagination",
        // },

        // Navigation arrows
        // navigation: {
        //   nextEl: ".swiper-button-next",
        //   prevEl: ".swiper-button-prev",
        // },
      });
    </script>